 <!doctype>
	<html>
	
	
		<title>DeleteElectromer</title>
		
		<body>
 
 
 <FORM action="http://................." method="post">
    <P>
	<LABEL for="id">NomerElektr: </LABEL>
              <INPUT type="text" id="$id"><BR>
    <LABEL for="dayRateValue">dayRateValue: </LABEL>
              <INPUT type="text" id="$dayRateValue"><BR>
    <LABEL for="nightRateValue">nightRateValue: </LABEL>
              <INPUT type="text" id="$nightRateValue"><BR>
    <LABEL for="dayRateTariff">dayRateTariff: </LABEL>
              <INPUT type="text" id="$dayRateTariff"><BR>
	<LABEL for="nightRateTariff">nightRateTariff: </LABEL>
              <INPUT type="text" id="$nightRateValue"><BR>
			  
	
	
			  
    <INPUT type="submit" value="Submit"> <INPUT type="reset"> <INPUT type="DELETE">
	</br>
	</br>
	<div style="background:gray; color: blue;width:20px;height:15px;">
			<a href="index.php?controller=createUser">Register</a></div>
	
    </P>
 </FORM>
 
 </body>
 </html>
 