<!DOCTYPE HTML>
<html>
	<head>
	<title>View</title>
	</head>
		<body>
			<h3>User Create</h3>
				<form action="/?controller=userCreate" method="post">
				
 				Username: <input type="text" name="username" id="username"><br> 
 				Password :<input type="password" name="password" id="password"><br />
				FirstName:<input type="text" name="fname" id="fname"><br />
				Last Name:<input type="text" name="lname" id="lname"><br />
				
				Age:<input type="text" name="age" id="age"><br>
				<div align="center">
					<p><input type="submit" value="Login" /> </p> 
				<!--name="submit" value="Update"<br> -->
				</form>
				<button type="button" onclick="('Set the datas!')">Oppa!</button>
				
		</body>
		
</html>

<!-- 
	<HTML>
		<BODY>
		
		<form action="nyakoy si file.php" method="post">
		Name: <input type="text" name="name"><br>
		E-mail: <input type="text name="email"><br>
		






 -->