
<html>
	<head>
		<title>Login</title>
		<style type="text/css">
			.registerButton
			{
				background:grey;
				width:80px;
				height:30px;
				text-align:center;
				padding-top:5px;
			}
			
			.registerButton a
			{
				color:blue;
				text-decoration:none;
			}
		</style>
	</head>

<body>
	<h3>Login</h3>
	<div>
		<form action="?controller=loginUser" method="post">
			<input type="hidden" name="action" value="login" />
			<label for="username">Username:</label><input type="text" name="username" id="username"><br>
			<label for="password">Password:</label><input type="password" name="password" id="password"><br>
			<input type="submit" name="submit" value="Login"><br>
		</form>
	</div>
	<div class="registerButton"><a href="index.php?controller=userCreate">Register</a></div>
</body>
</html>


