
<html>
	<head>
	<title>View</title>
	</head>

<body>
	<h3>Username</h3>
	<form action="/?controller=UserEditPost" method="post">
		
		Create:<input type="text" name="username" id="username"><br>
		Edit:<input type="text" name="fname" id="fname"><br>
		
		Create:<input type="text" name="lname" id="lname"><br>
		Create:<input type="text" name="age" id="age"><br>
	<input type="submit" name="submit" value="Update"<br>
	</form>
</body>
</html>
<!-- 
	UPDATE `users` SET `id`=[value-1],
				`username`=[value-2],
				`password`=[value-3],
				`role_id`=[value-4],
				`fname`=[value-5],
				`lname`=[value-6],
				`age`=[value-7] -->