<!DOCTYPE HTML>
<html>
	<head>
	<title>UserEdit</title>
	</head>

<body>
	<h3>EditUsername</h3>
	<form action="index.php?controller=UserEdit" method="post">
	
			<LABEL for="username">Username:</LABEL><input type="text" id="username"><br>
			<LABEL for="typeUser">typeUser:</LABEL><input type="text" id="role_id"><br>
			<LABEL for="password">Password: </LABEL><input type="text" id="password"><br>
			<LABEL for="FirstName">FirstName</LABEL><input type="text" id="fname"><br>
			<LABEL for="LastName" >Last</LABEL><input type="text" id="lname"><br>
			<LABEL for="Age"      >Age</LABEL><input type ="text" id="age"><br>	
			<input type="submit" name="submit" value="Update">
			
			<button type="submit" value="remove" name="op">Remove</button>
			<div><a href="index.php?controller=userDrop">DeleteUser</a></div>
			
	<br>
	<br>
	<br>
<!-- 	
<a href="file.com" >iskam da mi otvorish fail edi koi si!</a>
<a href="http://www.electromer.com"><li>info3</li></a>
<a href="http://www.google.com"></a>



<table>
    <form action='#' method='post'>
        <tr>
            <td>Item 1</td>
            <td><input type='hidden' name='id' value='1'><input type='submit' value='X'></td>
            
            <td><button type="submit" value="remove" name="op">Remove</button></td>
            <td><button type="submit" value="edit" name="op">Edit</button></td>
        </tr>
    </form>
</table> -->
	
	
	</form>
	
	
</body>
</html>

